.container-search {
  width: 150%;
  height: 100%;
  size: 150%;
  padding-left: 20%;
  background-image: linear-gradient(rgba(0, 8, 51, 0.9));
  background-position: center;
  background-size: cover;
}

.container-search input {
  width: 70%;
  height: 30%;
}

#sticky-div {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: white;
  z-index: 100;
  height: 75px;
  text-orientation: inherit;
  padding-top: 15px;
  padding-right: 2%;
  padding-left: 2%;
  border-bottom: solid #aadc00 5px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

#splatlogo::after {
  border-radius: 20%;
}

#hr-blue {
  border: none;
}
#hr-blue:before {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  max-width: 100%;
  width: 80%;
  border: 1px solid #26229F;
  left: 7%;
}

.no-decor {
  text-decoration: none;
  font-weight: normal;
  left: 0;
  text-align: left;
  padding-left: 10%;
  width: 100%;
  padding-right: 10%;
}
#hr-orange {
  border: none;
}
#hr-orange:before {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  max-width: 100%;
  width: 80%;
  border: 1px solid #fb5c03;
  left: 7%;
}

.no-decor {
  text-decoration: none;
  font-weight: normal;
  left: 0;
  text-align: left;
  padding-left: 10%;
  width: 100%;
  padding-right: 10%;
  line-height: 150%;
}