body {
    line-height: 1.5;
    font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 0.95em;
    background-color:#2e2e2e;
    background-image:url(../images/ore.png);
    background-repeat: repeat;
}

.wiki-overlay {
    border: solid #DF641A 3px;
    background-color: white;
    margin-left: 23%;
    max-width: 65%;
    height:auto;
    padding:2%;
    box-shadow: 0 2px 16px rgba(0,0,0,0.5);
    opacity: 1;
    position:relative;
    size-adjust:initial;
    padding-left:5%;
    padding-right:5%;
    padding-top:8%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #358500;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    margin: 0.25em 0 0.5em;
    border-bottom: solid 4px #26229F;
}

.wiki-overlay:before {
    background-image: url(../images/ink_canvas.png);
    background-size: 50px, auto;
    opacity:0.6;
    position: absolute;
}

.table-version {
    border: solid 3px #26229F;
    border-top: solid 10px #26229F;
    border-bottom: solid 10px #26229F;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.table-version:before{
    background-image: url(../images/tarp.png);
    opacity: 0.7;
}

table{
    width:50% ;
    font-weight:normal;
    text-decoration: none;


}

#header-container {
    
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: #ffffff;
    color: #000000;
    padding: 0.5em 0 0;
    min-height: 3.125em;
    box-sizing: border-box;

}
#header_color {
    position: sticky;
    top: 0;
    height: 10%;
    width:100%;

    background-color: #DF641A;
    color: #000000;
}

#sidebar {
    border: solid #DF641A 3px;
    background-color: white;
    margin-left: 1%;
    width: 13%;
    height:auto;
    padding:2%;
    box-shadow: 0 2px 16px rgba(0,0,0,0.5);
    opacity: 1;
    position:relative;
    size-adjust:initial;
    padding-left:1%;
    padding-right:5%;
    padding-top:2%;
    float:left;
    size-adjust:initial;
    margin: 1em 0;
    text-decoration : none;
}